@model APPBIBLIOTECA.Models.Prestamo

@{
    ViewBag.Title = "AgregarEditar";
}

<div class="form-body">
    <br />
    <br />
    @using (Html.BeginForm())
    {
        @Html.HiddenFor(model => model.idPrestamo)

        <div class="form-group">
            @Html.LabelFor(model => model.Estudiante.Nombre)
            @Html.EditorFor(model => model.Estudiante.Nombre)
            @Html.ValidationMessageFor(model => model.Estudiante.Nombre)
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Libro.Titulo)
            @Html.EditorFor(model => model.Libro.Titulo)
            @Html.ValidationMessageFor(model => model.Libro.Titulo)
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.FechaPrestamo)
            @Html.EditorFor(model => model.FechaPrestamo)
            @Html.ValidationMessageFor(model => model.FechaPrestamo)
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.FechaDevolucion)
            @Html.EditorFor(model => model.FechaDevolucion)
            @Html.ValidationMessageFor(model => model.FechaDevolucion)
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Devuelto)
            @Html.EditorFor(model => model.Devuelto)
            @Html.ValidationMessageFor(model => model.Devuelto)
        </div>

        <div class="form-group">
            <input type="submit" value="Agregar" class="btn button" />
            <input type="reset" value="Clear" class="btn button" />
        </div>
    }

</div>

@section scripts{
    @Scripts.Render("~/bundles/jqueruyval");
}

